/*Number5*/
#external {
	color: darkgreen;
}
/*Number6*/
* {
	font-family: Verdana;
	font-size: 15px;
}
/*Number7*/
h1 {
	font-size: 25px;
}
/*Number8*/
#learn {
	text-transform: uppercase;
}
/*Number9*/
.lang-learn {
	background-color: deepskyblue;
}
/*Number10*/
li[type="1"] {
	border-width: 2px;
	border-style: solid;
	border-color: darkblue;
	width:  90%;
}
li[type="2"] {
	border-width: 2px;
	border-style: solid;
	border-color: darkblue;
	width:  90%;
}
li[type="3"] {
	border-width: 2px;
	border-style: solid;
	border-color: darkblue;
	width:  90%;
}
li[type="4"] {
	border-width: 2px;
	border-style: solid;
	border-color: darkblue;
	width:  90%;
}
/*Number11*/
img + #step12 + li {
	list-style-type: circle;
}

/*Number12*/
section img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*Number13*/
#step12 ~ p {
	text-align: center;
}

/*Number14*/
body > section> ul> li {
	letter-spacing: 15px;
}




